In [15]:
from heavylight_dev import Table
import pandas as pd
import numpy as np
import random

In [16]:
df2 = pd.DataFrame(
    {
        'x|str':['A', 'B', 'C'],
        'value|float': [0.3, 0.5, 0.9]
    }
)
str_lookup = Table(df2)
int_lookup = np.array([0.3, 0.5, 0.9])
df2_index = df2.reset_index()
df2_index

   index x|str  value|float
0      0     A          0.3
1      1     B          0.5
2      2     C          0.9

In [17]:
modelpoints_letters = pd.DataFrame({"x|str": random.choices(df2['x|str'], k=100_000)})
modelpoints_letters_enriched = modelpoints_letters.merge(df2_index[['x|str', 'index']], on='x|str')
str_array = modelpoints_letters_enriched["x|str"].values
long_str_array = np.tile(str_array, 100)
int_array = modelpoints_letters_enriched["index"].values
long_int_array = np.tile(int_array, 100)

In [18]:
np.tile(np.array([1,2]), 2)

array([1, 2, 1, 2])

In [19]:
%%timeit
str_lookup[str_array]

8.8 ms ± 486 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [20]:
%%timeit
str_lookup[long_str_array]

1.03 s ± 61.7 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [21]:
%%timeit
int_lookup[int_array]

105 µs ± 7.44 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [22]:
%%timeit
int_lookup[long_int_array]

19.9 ms ± 3.22 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [24]:
# how many times slower is the one of size 100_000
8.8/.105

83.80952380952382

In [28]:
# how many times slower is the one of size 10_000_000
1030/19.9

51.75879396984925

In [26]:
assert np.all(str_lookup[str_array] == int_lookup[int_array])