In [30]:
from heavylight_dev import Table
import pandas as pd
import numpy as np
import random

In [39]:
df2 = pd.DataFrame(
    {
        'x|str':['A', 'B', 'C'],
        'value|float': [0.3, 0.5, 0.9]
    }
)
str_lookup = Table(df2)
int_lookup = np.array([0.3, 0.5, 0.9])
df2_index = df2.reset_index()
df2_index

   index x|str  value|float
0      0     A          0.3
1      1     B          0.5
2      2     C          0.9

In [32]:
modelpoints_letters = pd.DataFrame({"x|str": random.choices(df2['x|str'], k=100_000)})
modelpoints_letters_enriched = modelpoints_letters.merge(df2_index[['x|str', 'index']], on='x|str')

In [38]:
str_array = modelpoints_letters_enriched["x|str"].values
int_array = modelpoints_letters_enriched["index"].values

In [41]:
%%timeit
str_lookup[str_array]

8.87 ms ± 705 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [42]:
%%timeit
int_lookup[int_array]

106 µs ± 4.42 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [44]:
assert np.all(str_lookup[str_array] == int_lookup[int_array])